@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  margin: 0;
  padding: 0;
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Minecraftia", sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px #000;
}

.container {
  max-width: 800px;
  margin: 100px auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border: 4px solid #3b3b3b;
  box-shadow: 8px 8px 0 #000;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 48px;
  text-align: center;
  text-shadow: 4px 4px 0 #000;
}

/* 像素按钮 */
button {
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  background-color: #4b4b4b;
  color: #fff;
  border: 2px solid #222;
  padding: 10px 20px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2;
}

button:hover {
  background-color: #00ff7f;
  transform: scale(1.05);
}

/* 内容容器 */
.container {
  max-width: 800px;
  margin: 100px auto;
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border: 4px solid #3b3b3b;
  box-shadow: 8px 8px 0 #000;
}

img {
  border: 3px solid #222;
  margin: 10px 0;
}

footer {
  margin-top: 50px;
  font-size: 10px;
  color: #aaa;
}
