@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  padding: 0;
  background: url("images/background.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  text-align: center;
}

h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 60px;
  text-align: center;
  color: white;
  text-shadow: 4px 4px 0 #000, -4px -4px 0 #000;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 8px;
  margin-top: 30px;
}

.container {
  text-align: center;
  background-image: url('images/background.jpg'); /* 可自定义背景图片 */
  background-size: cover;
  padding: 40px;
}

button {
  font-family: 'Press Start 2P', cursive;
  font-size: 18px;
  background-color: #4b4b4b;
  color: white;
  border: 2px solid #222;
  padding: 15px 25px;
  cursor: pointer;
  margin: 15px 0;
  transition: background-color 0.2, transform 0.2;
  width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

button:hover {
  background-color: #00ff7f;
  transform: scale(1.05);
}
